{% extends 'header.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load custom_template_tags %}

{% block content %}
    <form method="get" id="form" action="" data-cities-url="{% url 'tripplanner:ajax_load_provinces' %}" novalidate>
    <div class="row">
    <div class="col-lg-12" id="form-div">
        <div id="div_id_nhl_form-starting_country" class="control-group">
        <label for="id_nhl_form-starting_country" class="control-label requiredField">Starting country</label>
        <div class="controls"> 
            <select name="nhl_form-starting_country" class="form-control select" id="id_nhl_form-starting_country">
                {% if starting_country_initial != "Canada" %}
                    <option value="Canada" selected>Canada</option>
                    <option value="USA" selected>USA</option>
                {% else %}
                    <option value="Canada" selected>Canada</option>
                    <option value="USA">USA</option>
                {% endif %}
            </select> 
        </div> 
    </div> 
    <div id="div_id_nhl_form-starting_province" class="control-group">
        <label for="id_nhl_form-starting_province" class="control-label requiredField">Starting province</label>
        <div class="controls">
            <select name="nhl_form-starting_province" class="form-control select" id="id_nhl_form-starting_province">
                {% for province, default in provinces.items %}
                    {% if default %}
                        <option value="{{ province }}" selected>{{ province }}</option>
                    {% else %}
                        <option value="{{ province }}">{{ province }}</option>
                    {% endif %}
                {% endfor %}
            </select> 
        </div>
    </div> 
    <div id="div_id_nhl_form-starting_city" class="control-group">
        <label for="id_nhl_form-starting_city" class="control-label requiredField">Starting city</label>
        <div class="controls">
            <input type="text" name="nhl_form-starting_city" class="form-control textinput textInput" required="" id="id_nhl_form-starting_city" value="{{ starting_city_initial }}">
        </div> 
    </div>
    <br>
    
    {% if games %}
        <table id="nhl-game-table">
        <tr>
            <th onclick="sortTable(0)">Away Team</th>
            <th onclick="sortTable(1)">Home Team</th>
            <th onclick="sortTable(2)">Date (Day-Month-Year)</th>
            <th onclick="sortTable(3)">Distance</th>
            <input type="submit" value="Submit" id="filter-submit">
        </tr>
        <tr>
            <th><input type="text" id="away_team_filter" name="away_team_filter" value="{{ away_team_filter_initial }}" placeholder="filter" data-lpignore="true"></th>
            <th><input type="text" id="home_team_filter" name="home_team_filter" value="{{ home_team_filter_initial }}" placeholder="filter" data-lpignore="true"></th>
            <th>
                <input type="text" id="date-filter" name="date_filter_begin" value="{{ date_filter_begin_initial }}" placeholder="filter" data-lpignore="true">
                <input type="text" id="date-filter" name="date_filter_end" value="{{ date_filter_end_initial }}" placeholder="filter" data-lpignore="true">
            </th>
            <th><input type="text" id="distance_filter" name="distance_filter" value="{{ distance_filter_initial }}" placeholder="filter" data-lpignore="true"></th>
        </form>
        {% for game in games %}
            <tr>
                <td>{{ game.away_team }}</td>
                <td>{{ game.home_team }}</td>
                <td>{{ game.date|date:"d-m-y" }}</td>
                <td>{{ distances|get_dict_item:game.home_team }}</td>
            </tr>
        {% endfor %}
        </table>
    {% else %}
        <p>No games were found</p>
    {% endif %}
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src={% static 'site/javascript_helpers.js' %}></script>
{% endblock content %}